/* page */
@media only screen and (max-width: 600px) {
  /* line 3, Style.scss */
  body {
    background-color: lightblue;
  }
}
/* line 7, Style.scss */
html {
  font: 16px/1 'Open Sans', sans-serif;
  overflow: auto;
  padding: 0.5in;
}

/* table Family*/
/* line 10, Style.scss */
table.Family {
  font-size: 75%;
  table-layout: fixed;
  width: 40%;
}

/* line 11, Style.scss */
table.Family {
  border-collapse: collapse;
  border-spacing: 2px;
}

/* line 12, Style.scss */
table.Family th, td {
  border-width: 1px;
  padding: 5px;
  position: relative;
  text-align: center;
}

/* line 13, Style.scss */
table.Family th, td {
  border-style: solid;
}

/* line 14, Style.scss */
table.Family th {
  background: #7CC9FF;
  border-color: #1700FE;
}

/* line 15, Style.scss */
table.Family td {
  border-color: #1700FE;
}

/* table Friends*/
/* line 19, Style.scss */
table.Friends {
  font-size: 100%;
  table-layout: fixed;
  width: 40%;
}

/* line 20, Style.scss */
table.Friends {
  border-collapse: collapse;
  border-spacing: 2px;
}

/* line 21, Style.scss */
table.Friends th, td {
  border-width: 2px;
  padding: 5px;
  position: relative;
  text-align: center;
}

/* line 22, Style.scss */
table.Friends th, td {
  border-style: solid;
}

/* line 23, Style.scss */
table.Friends th {
  background: #7CC9FF;
  border-color: #1700FE;
}

/* line 24, Style.scss */
table.Friends td {
  border-color: #1700FE;
}

/* line 26, Style.scss */
.Places {
  background-color: #7CC9FF;
  color: black;
  padding: 10px;
}

/* line 31, Style.scss */
.Countries {
  background-color: yellow;
  color: black;
  padding: 10px;
}

/* line 36, Style.scss */
.Beaches {
  background-color: red;
  color: black;
  padding: 10px;
}

/* line 41, Style.scss */
#List {
  background-color: white;
  color: black;
  padding: 40px;
  text-align: left;
}

/* line 47, Style.scss */
div {
  font-size: 18px;
}
/* line 49, Style.scss */
div p {
  color: darkgreen;
}
/* line 52, Style.scss */
div ul {
  color: darkred;
}
/* line 54, Style.scss */
div ol {
  color: black;
}

/* line 58, Style.scss */
.success, .warning, .error {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

/* line 66, Style.scss */
.success {
  background-color: #8ff582;
  color: #4b8244;
}

/* line 71, Style.scss */
.warning {
  background-color: #ffc25e;
  color: #b3690e;
}

/* line 76, Style.scss */
.error {
  background-color: #ff7d7d;
  color: darkred;
}

/* line 81, Style.scss */
.topnav {
  overflow: hidden;
  background-color: #C82333;
  border-radius: 7px;
}

/* line 87, Style.scss */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* line 97, Style.scss */
.topnav a:hover {
  background-color: #80bced;
  color: black;
  border-radius: 5px;
}

/* line 103, Style.scss */
.topnav a.active {
  background-color: #0069D9;
  color: white;
  border-radius: 5px;
}
