/* page */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }

/* table Family*/
table.Family { font-size: 75%; table-layout: fixed; width: 40%; }
table.Family { border-collapse:collapse;; border-spacing: 2px; }
table.Family th, td { border-width: 1px; padding: 5px; position: relative; text-align: center;; }
table.Family th, td { border-style: solid; }
table.Family th { background: #7CC9FF; border-color: #1700FE; }
table.Family td { border-color: #1700FE; }


/* table Friends*/
table.Friends { font-size: 100%; table-layout: fixed; width: 40%; }
table.Friends { border-collapse:collapse;; border-spacing:2px; }
table.Friends th, td { border-width: 2px; padding: 5px; position: relative; text-align: center;; }
table.Friends th, td { border-style: solid; }
table.Friends th { background: #7CC9FF; border-color: #1700FE; }
table.Friends td { border-color: #1700FE; }

.Places {
  background-color:#7CC9FF ;
  color: black;
  padding: 10px;
}
.Countries {
  background-color: yellow ;
  color: black;
  padding: 10px;
}
.Beaches {
  background-color:red ;
  color: black;
  padding: 10px;
}
#List {
  background-color: white;
  color: black;
  padding: 40px;
  text-align: left;
}
div {
  font-size: 18px;
  p {
    color:darkgreen;
  }
  ul{
  color:darkred;}
  ol{
    color:black;
  }
}
%message{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  }
  .success{
    @extend %message;
    background-color: #8ff582;
    color: #4b8244;
  }
  .warning{
  @extend %message;
  background-color: #ffc25e;
  color: #b3690e;
}
  .error{
    @extend %message;
    background-color: #ff7d7d;
    color: darkred ;
  }
  .topnav {
    overflow: hidden;
    background-color:  #C82333;
    border-radius: 7px;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }

  .topnav a:hover {
    background-color: #80bced;
    color: black;
    border-radius: 5px;
  }

  .topnav a.active {
    background-color: #0069D9;
    color: white;
    border-radius: 5px;
  }
